* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Raleway, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #464d60;
  color: #c2e2f4;
}

.title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: sacramento, Bodoni Moda, Raleway, sans-serif;
  font-size: xx-large;
}

.sub-title {
  font-family: Raleway, sans-serif;
  margin-bottom: 1rem;
}

nav {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.nav a {
  padding: 0.5rem;
  margin-inline: 1rem;
  text-decoration: none;
  color: #000003;
  background-color: #eab4cc;
  border-radius: 0.7rem;
  transition: 0.3s;
}

.nav a:hover {
  padding: 1.3rem;
  transition: 0.3s;
  color: white;
  background-color: black;
  transition: 0.3s;
}

.home {
  font-size: x-large;
}

li {
  list-style: none;
  margin: 2rem;
}

li a {
  text-decoration: none;
  padding: 0.5rem;
  color: #000003;
  background-color: #eab4cc;
  border-radius: 0.7rem;
  transition: 0.3s;
}

li a:hover {
  padding: 1.3rem;
  transition: 0.3s;
  color: white;
  background-color: #000003;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bodoni moda;
  color: #c2e2f4;
}

h2 {
  margin: 1rem;
}
h5,
h3,
h4 {
  margin: 1rem;
}

.album-list h2,
.song-list h2 {
  font-family: playfair display;
}

.album h3 {
  margin-top: 2rem;
}

.album p {
  margin: 1rem;
}

.lyrics {
  margin: 2rem;
}

.song h2 {
  font-family: playfair display;
}

.lyrics p {
  margin-top: 1rem;
}
